<div class="row my-5 mx-0">
  <div class="offset-1 col-10">
    <div class="row">
      <div class="col-lg-6 col-12 p-0 mb-4">
        <post [post]="summaryPost"></post>
      </div>
      <div class="col-lg-5 offset-1 col-12 p-0 mb-4 d-flex flex-column justify-content-center">
        <h1 class="upper-background-text background-text fs-64">
          Найпопулярніший
        </h1>
        <h1 class="background-text fs-102">пост:</h1>
      </div>
    </div>
  </div>
</div>

<hr>
<!-- SECTION -->

<div class="row my-5 mx-0">
  <div class="col-10 offset-1 row">
    <div class="col-lg-6 p-0 mb-4 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-end width-fit">
        <h1 class="upper-background-text background-text fs-64">Топ</h1>
        <h1 class="background-text fs-102">Зарплат:</h1>
      </div>
    </div>
    <div class="col-lg-5 offset-1 px-0">
      <table class="table table-bordered salary-table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Країна</th>
            <th scope="col">Зарплати</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Люксембург <img class="flag-image pl-2" src="./../../../../../assets/flag1.png"></td>
            <td>4089 $</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Норвегія <img class="flag-image pl-2" src="./../../../../../assets/flag2.png"></td>
            <td>3678 $</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Австрія <img class="flag-image pl-2" src="./../../../../../assets/flag3.png"></td>
            <td>3437 $</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>США <img class="flag-image pl-2" src="./../../../../../assets/flag4.png"></td>
            <td>3263 $</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Велика Британія <img class="flag-image pl-2" src="./../../../../../assets/flag5.png"></td>
            <td>3065 $</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- SECTION -->
